/*公共样式*/
html,body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px; 
     line-height: 1.42857143;
	color:#333; margin:0; padding:0;}
ul { padding:0; list-style:none; margin:0; }
p { margin:0;}
a,a:focus,a:hover,a:visited,a:focus,a:active { text-decoration: none; color:#333;}
input { outline: none;}
h1,h2,h3,h4,h5,h6 { margin:0;}
textarea { padding:10px; resize:none; height:auto; width:100%; outline:none; overflow-y: auto; }
/*.comunicate-content,.personal-content,.course-content { margin-top:50px;}
/*公共头部*/
.com-header { position: fixed; z-index: 10; left:0; right:0; top:0; height:44px; padding:0 10px; background-color:#f7f7f7;  -webkit-box-shadow: 0 1px 6px #ccc; box-shadow: 0 1px 6px #ccc; }
.com-title { font-weight:500; line-height: 44px; text-align: center; position: absolute; left:40px; right:40px; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; }
.logo { display: inline-block; width:50px; height:50px; background: url("../img/c-logo.png") no-repeat;}
.pro-brand { position: absolute;}
.pro-back { position: absolute; width: 55px; height:100%; vertical-align: middle;color: #007AFF;}
.pro-back:hover{ color: #007AFF;}
.pro-back span { display: inline-block; padding-top: 12px; vertical-align: middle;}

/*公共底部*/
.com-footer { position: fixed; z-index: 10; left:0; right:0; bottom:0; height:50px; background-color:#f7f7f7; border-bottom:0; -webkit-box-shadow: 0 0 1px rgba(0,0,0,.85); box-shadow: 0 0 1px rgba(0,0,0,.85); }
.tab-item { display: table-cell; vertical-align: middle; text-align: center; height:50px; color:#929292; width:1%; white-space: nowrap; text-overflow: ellipsis; overflow:hidden; }
.tab-item.active { color:#007aff; }
.tab-item-icon { display: inline-block; width: 24px; height: 24px; position: relative; top:3px; }
.tab-item-label { font-size: 11px; display: block; overflow: hidden; text-overflow: ellipsis; }
.com-content { padding: 44px 0 50px 0; }
/*首页开始*/
.swiper-container{width:100%;height:100%;}.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.swiper-pagination-bullet{display: inline-block; width:20px;height:20px;text-align:center; border-radius: 100%; line-height:20px;font-size:12px;color:#000;opacity:1;background:rgba(0,0,0,0.2);}
.swiper-pagination-bullet-active{color:#fff;background:#007aff;}
.swiper-container { height:200px; margin-left: auto;  margin-right: auto; position: relative; overflow: hidden; z-index: 1 }
.swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1;
				  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;
				  -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; 
				  -webkit-box-sizing: content-box; -moz-box-sizing: content-box;  box-sizing: content-box; }
.swiper-container-android .swiper-slide,
.swiper-wrapper { -webkit-transform: translate3d(0px, 0, 0); -moz-transform: translate3d(0px, 0, 0); -o-transform: translate(0px, 0px); -ms-transform: translate3d(0px, 0, 0); transform: translate3d(0px, 0, 0); }
.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative;  }
.swiper-container img { width:100%; }
.swiper-pagination { position: absolute; text-align: center;
  -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10; }
.swiper-pagination-bullets { bottom: 10px; left: 0; width: 100%; }
.swiper-pagination-bullet { margin: 0 5px;cursor: pointer; }
.title{ font-size:16px; text-align: center; height:50px; line-height:50px; margin-bottom:0;}
.common-header { position:relative;}
.content-area {  margin-top:44px; margin-bottom: 65px;}
.content-area:before { content: ""; display:table;}
.scroll-layout { width:100%; height:200px;}
/*下面四个框框*/
.guide-box > li > a { display: inline-block; width:100%; text-align: center; color:#007AFF;border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; padding: 10px 0;}
.guide-box { overflow:hidden; border-top: 1px solid #ddd;}
.guide-item { width:50%; float:left;}
.guide-item span { display: inline-block; width: 50px; height:50px;}
.class-base { background: url("../img/class-base.png") no-repeat;}
.class-communite { background: url("../img/class-communite.png") no-repeat;}
.class-judge { background: url("../img/class-judge.png") no-repeat;}
.class-homwork { background: url("../img/class-homwork.png") no-repeat;}
.guide-item p { color:#333; margin-top:10px;}
/*首页结束*/
/*课程查询页面*/
.course-title { overflow: hidden;}
.course-title li { float:left; width:14%; text-align: center; padding:5px 0; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.course-title li:last-child { border-right:0;}
.course-title li.bg { background: #007aff; color: #fff; }
.course-lists { display: none;}
.course-lists img { float:left; margin:10px 15px; float:left;}
.course-lists li { border-bottom:1px solid #aaa; overflow: hidden;}
.course-lists.active { display: block;}
.course-lists.active img { margin:10px 15px; float:left;}
.course-lists.active li { border-bottom:1px solid #aaa; overflow: hidden;}
.course-item { padding:5px 0;}
.course-item img { max-width: 100px; }
.course-item h3{ margin-top:20px;}
.course-item .c-items{ padding:4px 16px 4px 0;}
/*课程交流页面*/
.comunicate-title li { width:50%; float:left; text-align: center; height:40px; line-height: 40px;}
.comunicate-title li.active { background:#f76735; color:#fff; font-weight: bold; }
/*.teaching-qaq,.stu-view { display: none;}
.teaching-qaq.show,.stu-view.show { display: block;}*/
.input { outline: 0;}
.publishmsg { position: relative;}
.note{ position:absolute; line-height:20px; padding: 3px 10px; z-index: 9; top: 7px;}
.push-tit { width:100%;     height: 30px; text-indent: 5px;}
.pushmsg { position: relative;}
.form-publishmsg { padding:0 15px;}
.btns { margin-top:10px; padding:10px; outline:0; border:0;}
.btn-cancle,.btn-sure { background: #f76735; color:#fff; width: 49%; height:35px; border-radius: 5px; }
/*个人中心页面*/
.person-table { position: relative; margin-top: 20px; margin-bottom: 0;  padding-left: 0;  list-style: none; background-color: #fff; font-size: 1.2em; }
.person-table-cell { padding:11px 65px 11px 15px; position: relative;}
.person-table-cell:after { position: absolute; content: ""; height:1px; background-color:#ddd; width: 100%; left:15px; bottom:0; right:0;}
.person-table-cell > a{ display: inline-block; width: 100%; 
color:#333;}
.person-table-cell > a > span { position: absolute; top:10px; right:25px; }
.person-logo { height:150px; text-align: center; padding-top:20px;}
.person-logo img { height:80px; width: 80px; border: 1px solid #ccc; margin-top:20px;}
.person-logo p {  padding: 20px 0;}
/*课程交流-学生意见*/
.input-search { margin:5px; position: relative;}
.input-search input { font-size: 16px; -webkit-box-sizing: border-box; box-sizing: border-box; height: 34px; border: 0; border-radius: 6px; background-color: rgba(0,0,0,.1); line-height: 21px; width: 100%; padding-left: 30px;}
.input-search .input-placeholder { font-size: 16px; line-height: 34px; position: absolute; top: 0; left: 50%; display: inline-block; height: 34px; color: #999; border: 0; border-radius: 6px; background: 0 0;}
.input-search .iconsearch { position: absolute; top:7px; left:8px;}
.input-search .iconsearch.hidden,.input-placeholder.hidden { display: none;}
.person-lists li{ position: relative; padding:10px 65px 10px 15px; color:#333;}
.person-lists li > a{ color:#333; display: inline-block; margin-right:-65px; width:100%;}
.person-lists li:after { position: absolute; right: 0; left:15px; bottom:0; content: ""; height: 1px; background: #c8c7cc;}
.person-lists li .i-position { display: inline-block; width: 16px; height:16px; position: absolute; top:50%; margin-top:-8px; right:15px;}
.content-area.container { padding:0 15px;}
/*学生意见详情页面*/
.detail-title { text-align:center; font-weight:bold; padding: 20px 0;} 
.detail-content { border:1px solid #ccc; padding: 10px;}
.detail-content p { text-align: justify;}
.detail-content img { max-width:40%; margin:10px;}
.line { border-bottom:2px solid #dddddd; margin:25px 0 15px;}
.line span { border-left:4px solid #007aff; padding-left:5px;}
.text-area { resize:none;} 
.comu-response li { border-bottom:1px solid #ddd; padding-bottom: 15px;}
.comu-response .per-logo{ float:left; max-width: 50px; height:50px;}
.res-area { margin-left:60px; height:50px; margin-top: 15px;}
.res-area p{ margin-bottom:5px;}
.res-area span{ padding-right:15px;}
.res-main { margin-top:6px;}

.responce-text { background: rgba(0,0,0,0.4); position: fixed; bottom: 0; width: 100%;}
.responce-text textarea { height:20px; width: 60%; margin: 10px 20px 5px; border-radius: 5px;}
.responce-text .btn-publish { vertical-align: top; width: 18%; height: 40px; margin-top: 12px; border-radius: 5px; font-size: 1.2em; color: #007AFF;}
.responce-text .btn-publish:active { background: rgba(200,200,200,1);}
.comunicate-title { overflow: hidden; border-bottom: 1px solid #ddd;}
.comunicate-title li a { width: 100%; display: inline-block; }
.comunicate-title li.active a { color:#fff; }
.stu-view-logo { display: inline-block; text-align: center; max-width: 60px; margin-right: 10px; float: left; }
.stu-view-logo img {max-width: 50px; height: 50px; margin: 0 auto;  }
.stu-view-logo p { margin: 6px 0 0; font-size: 0.8em; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 100% }
.stu-view-content { padding-top: 15px; }
.stu-view-content > .stu-msg-title { font-size: 1.2em;}
.stu-view-content > .stu-msg { white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
/*登录页面*/
.input-group:first-child { margin-top: 20px; }
.input-group {
  margin-top: 10px; position: relative; padding: 0; border: 0;  background-color: #fff; }
.input-group:before { position: absolute; top: 0; right: 0; left: 0; height: 1px;  content: ''; background-color: #c8c7cc; }
.input-row { height: 40px;  position: relative; clear: left; overflow: hidden; background: #fff;}
.input-row label { line-height: 1.1; float: left; width: 12%;  padding: 11px 15px; font-size: 1.2em; }
.input-row input { width: 78%; height: 40px; float:right;  border: none; font-size: 1.2em; margin-bottom: 0; padding-left: 0; border: 0; }
.input-group .input-row:after { position: absolute; right: 0; bottom: 0; left: 15px; height: 1px; content: '';  background-color: #c8c7cc; }    
.content-padded { margin: 15px 10px 10px;}
.btn-block { font-size: 18px; display: block; width: 100%; margin-bottom: 10px; padding: 10px 0; color: #fff; border: 1px solid #007aff;  background-color: #007aff; border-radius: 3px;}
.btn-block:active { background: #0062cc; border-color: #0062cc;}
.link-area { display: block; margin-top: 25px; text-align: center; }
.link-area a { color:#007aff; }
.spliter { color: #bbb; padding: 0px 8px; }
/*课程评价详情*/
.choose-item { font-size:1.2em; margin:10px 0; padding:10px;}
.chooses { position: relative; background: #fff; padding:10px; border-bottom: 1px solid #ddd;}
.question { margin-bottom:10px; }
.choose-radio-input { width: 20px; height:20px; vertical-align: middle; float: left; margin:0; position: absolute; top:10px; left:20px; }
.choose-radio { display: block; padding-left:50px;}
.btn-tijiao { width: 100%; }
/*课程作业页面*/
.guide-homework-title { text-align: center; margin:20px; }
.guide-homework { width: 100%;}
.guide-homework li { width: 50%;float:left;padding:10px 0px;overflow:hidden;text-align:center;}
.guide-homework li a { display: block;}
.guide-homework li p { margin-top:15px;}
.guide-homework li img { width: 80%; height: 150px; border-radius:5px;}
/*课程作业详情*/
.detail-content .tip { font-size: 16px; }
.tip { padding-bottom:10px; }
.tip span { padding-left:5px; }
.tip-content { padding:10PX; }
.file { position: relative; }
.file input { position: absolute; width: 100%; height:100%; top:0;left:0; }

